@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import "tailwindcss";

body{
  background-color: black;
}

.flex_center{
    @apply flex items-center;
}

.hover_ele{
    @apply hover:text-slate-500 hover:cursor-pointer;
}

.hover_item{
    @apply hover:bg-gray-900 hover:cursor-pointer;
}
@theme{
    --font-display: "Jura", "sans-serif"; 
}

.text_glow{
 
   animation: glow 3s infinite ease-in-out alternate;
}

@keyframes glow {
  from {
    text-shadow: 0px 0 10px rgb(192, 192, 192);
  }
  to {
    text-shadow: 0px 0 10px rgb(255, 215, 0);
  }
}



/* Custom Scrollbar */
::-webkit-scrollbar {
  height: 6px; /* Makes it sleek */
  width: 6px; /* Makes it sleek for vertical scrolling */
}

::-webkit-scrollbar-track {
  background: transparent; /* Keeps the background clean */
}

::-webkit-scrollbar-thumb {
  background: black; /* Sets the scrollbar color */
  border-radius: 10px; /* Makes it rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* Dark gray for hover effect */
}



.hover_card{
  @apply hover:cursor-pointer hover:border-yellow-300;
}

.closing-animation{
   animation: opening 1s infinite;
}
@keyframes opening{
  from{
    transform:translateY(0);
  }
}
.background_img{
  background-image: url("/assets/bg3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.sliding{
  animation:slidingvan 2s 1 ;
}
@keyframes slidingvan {

  to{
    transform: translateX(320px);
  }
} 


.pop{
  animation:popping 2s 1;
}

@keyframes popping{
  from{
    transform: scale(0);
  }
}
*{
  scroll-behavior: smooth;
}